/* Estilo dos campos inválidos*/
.invalid{
  border-color: #900;
  background-color: #FDD;
}

.valid{
  border-color: rgb(0, 153, 51);
  background-color: rgb(252, 252, 252);
}

input:focus:invalid {
  outline: none;
}

/* Esilo das mensagens de erro */
.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.error-message{
	color: red;
}